body {
	font-family: "Inter", sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
}

main {
	margin: 0px 15px;
}

h1 {
	font-weight: 800;
	font-size: 40px;
	margin-top: 10px;
	padding-right: 50px;
	line-height: 2.5rem;
}
h2 {
	margin: 0px 0px 30px 0px;
	font-size: 30px;
}
h3 {
	margin: 0px 0px 10px 0px;
}

h4 {
	margin: 15px 0px 15px 0px;
	font-size: 18px;
	font-weight: 800;
}
ul {
	padding: 0px 0px 0px 25px;
}

li {
	list-style: none;
	margin: 20px 0px;
}

p {
	line-height: 1.5rem;
	font-size: 15px;
	margin-top: 0px;
}

button {
	color: white;
	padding: 15px 30px;
	text-transform: uppercase;
	font-family: "Inter", sans-serif;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 4px;
	border: 1px;
}

.top-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 25px 0px;
}

.logo-top {
	width: 50px;
}

.side-filter {
	position: absolute;
	top: 0;
	left: -120px;
	width: 120px;
	height: 700px;
	background-color: black;
}

.close-b {
	position: absolute;
	top: 30px;
	right: 30px;
}

.geo-blocks {
	width: 100%;
}

.geo-blocks-dt {
	display: none;
}
.new-section {
	color: white;
	padding: 20px;
	margin: 70px 0px 70px 0px;
}

.new-section p {
	margin: 0;
}

hr {
	margin: 25px 0px;
}
.top-bar {
	display: none;
}

.desktop-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0px;
	margin: 0px 0px 20px 0px;
}
.categories {
	padding-right: 0 !important;
}

.desktop-nav ul {
	padding: 0;
	justify-items: right;
}

.desktop-nav li {
	display: inline-block;
	padding-right: 30px;
}

.desktop-nav li a {
	font-size: 16px;
}

.geo-blocks {
	display: none;
}

.logo-top {
	width: unset;
}

.top-bar {
	margin-bottom: 60px;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(100px, auto);
}

.geo-blocks-dt {
	width: 710px;
	display: block;
	grid-column: 1;
	grid-row: 1;
}

.new-section {
	grid-column: 3;
	grid-row: 1;
	margin: 0;
	width: 300px;
	height: 455px;
	padding: 25px;
	margin-left: 11px;
}

.top-blurb-n-button {
	margin-top: 30px;
	grid-column: 2;
	grid-row: 2;
	padding-right: 20px;
}

.top-title {
	margin-top: 30px;
	grid-column: 1;
	grid-row: 2;
}

.tech-section {
	grid-column: 1;
	grid-row: 3;
	display: flex;
	margin-top: 60px;
}

.tech-two {
	margin-right: 20px;
}

.growth {
	position: relative;
}
